table {
    border-collapse: collapse;
    width: 100%;
    font-size: 13pt;
    line-height: 30px;
}

tr:nth-child(odd) {
    background-color: #e9f3e9
}

th,
td {
    text-align: left;
    padding: 8px;
}

th:first-child, td:first-child {
    border-radius: 5px 0 0 5px;
}

th:last-child, td:last-child {
    border-radius: 0 5px 5px 0;
}

th {
    background-color: #77c57b;
    color: white;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    border-radius: 5px 5px 0 0;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    
    color: #bbb;
}

.tab button:hover:not(:disabled),
.tab button:active:not(:disabled) {
    background-color: inherit;
    border-radius: 0;
    color: #239e23;
}

.tab button.active {
    color: #239e23;
    font-weight: bold;
}

.tab-content {
    display: none;
    padding: 16px 20px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
}

button {
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover:not(:disabled),
button:active:not(:disabled) {
    background-color: #77c57b;
    color: white
}

img {
    vertical-align: middle;
}

#request_headers,
#response_headers {
    td:last-child {
        word-break: break-all;
    }
}